@font-face {
  font-family: 'Arca-Majora';
  src: url('../assets/fonts/arca-majora/ArcaMajora3-Bold.otf') format('opentype');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('../assets/fonts/product-sans/Product Sans Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('../assets/fonts/product-sans/Product Sans Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('../assets/fonts/product-sans/Product Sans Bold.ttf') format('truetype');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('../assets/fonts/product-sans/Product Sans Bold Italic.ttf') format('truetype');
  font-style: bold italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Test-Staff';
  src: url('../assets/fonts/test-staff/StaffWideTest-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Test-Staff';
  src: url('../assets/fonts/test-staff/StaffWideTest-Bold.otf') format('opentype');
  font-style: bold;
  font-weight: 700;
}

* { 
  font-family: 'Product-Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Arca-Majora', sans-serif;
}

h1 { 
  @apply sm:text-[2rem] text-[3.812rem]
}

h2 {
  @apply sm:text-[1.812rem] text-[3.062rem]
}

h3 { 
  @apply sm:text-[1.625rem] text-[2.438rem]
}

h4 { 
  @apply sm:text-[1.438rem] text-[1.938rem]
}

h5 { 
  @apply sm:text-[1.250rem] text-[1.562rem]
}

h6 { 
  @apply sm:text-[1.125rem] text-[1.250rem]
}